<html>
<head>
	<title>Homepage Design</title>

	<!-- Custom CSS	-->
	<link rel="stylesheet" type="text/css" media="screen"
		  href="css/Homepage.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


	<!-- SOCK JS include -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>

	<!-- STOMP JS include -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

	<!--Make the player available for STOMP message handlers-->
	<script>
		let player;
	</script>
	<!-- Websockets -->
	<script type="text/javascript" src="js/watchroom/room-sockets.js"></script>

	<!-- Event handlers -->
	<script src="js/watchroom/room-handlers.js"></script>

	<!-- Youtube API Handlers-->
	<script src="js/watchroom/syncplayer.js"></script>

</head>
<body>
<div id="general-container">
	<div id="top-left-container">
		<p id="leftheader">Room</p>
	</div>
	<div id="room-list">
		<div class="seperation">
			<p> Public Rooms</p>
		</div>
		<div class="room">
			<img src="" alt="Icon">
			<div class="title-text">
				Tom and Jerry
			</div>
			<button class="enterbutton" type="button">Enter</button>
		</div>
		<div class="room">
			<img src="" alt="Icon">
			<div class="title-text">
				NFL
			</div>
			<button class="enterbutton" type="button">Enter</button>
		</div>
		<div class="room">
			<img src="" alt="Icon">
			<div class="title-text">
				Room name
			</div>
			<button class="enterbutton" type="button">Enter</button>
		</div>
		<div class="room">
			<img src="" alt="Icon">
			<div class="title-text">
				Room name
			</div>
			<button class="enterbutton" type="button">Enter</button>
		</div>

		<div class="seperation">
			<p> Private Rooms</p>
		</div>

		<div class="room">
			<img src="" alt="Icon">
			<div class="title-text">
				My Private Room
			</div>
		</div>
		<div class="bigbutton-container">
			<button class="bigbutton" type="button" onclick="showPopupCreate()">Create Room</button>
			<div id="pop-up-box-container-create"> </div>
			<div id="pop-up-box-create">
				<div id="pop-up-header-create"> Create a Private Room?</div>
				<div id="pop-up-body-create"> </div>
				<div id="pop-up-footer-create">
					<button onclick="popupOkCreate()">OK</button>
					<button onclick="popupCancelCreate()">Cancel</button>
				</div>
			</div>
		</div>
		<div class="bigbutton-container">
			<button class="bigbutton" type="button" onclick="showPopupJoin()">Join Room</button>
			<div id="pop-up-box-container-join"> </div>
			<div id="pop-up-box-join">
				<div id="pop-up-header-join"> Please Enter your Password</div>
				<div id="pop-up-body-join">
					<input type="Password" name="" placeholder="">
				</div>
				<div id="pop-up-footer-join">
					<button onclick="popupOkJoin()">OK</button>
					<button onclick="popupCancelJoin()">Cancel</button>
				</div>
			</div>
		</div>
		<div class="bigbutton-container">
			<button class="bigbutton" type="button" onclick="showPopupLeave()">Leave Room</button>
			<div id="pop-up-box-container-leave"> </div>
			<div id="pop-up-box-leave">
				<div id="pop-up-header-leave"> Leave Room?</div>
				<div id="pop-up-body-leave"> </div>
				<div id="pop-up-footer-leave">
					<button onclick="popupOkLeave()">OK</button>
					<button onclick="popupCancelLeave()">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<div id="bottom-left-container">
		<button class="bigbutton" type="button" onclick="showPopupLogout()">Log out</button>
		<div id="pop-up-box-container-logout"> </div>
		<div id="pop-up-box-logout">
			<div id="pop-up-header-logout"> Log out?</div>
			<div id="pop-up-body-logout"> </div>
			<div id="pop-up-footer-logout">
				<button onclick="popupOkLogout()">OK</button>
				<button onclick="popupCancelLogout()">Cancel</button>
			</div>
		</div>
	</div>

	<div id="title">
		<span>Video</span>
	</div>
	<div id="video-container">
		<div id="player"></div>

		<div id="progressBar">
			<div id="line"></div>
			<div id="scrubber"></div>
		</div>


		<div id='player-controls'>
			<button type="button" class="btn btn-success" id="playButton">Play</button>
			<button type="button" class="btn btn-danger" id="pauseButton">Pause</button>
		</div>



		<button type="button" class="btn btn-primary" id='testing-button'>Primary</button>





	</div>
	<div id="vote-container">
		<div id="vote">
			<input type="text" placeholder="Search video by keywords">
		</div>
		<button class="searchbutton" type="button" onclick="showPopupSearch()">Search</button>
		<div id="pop-up-box-container-search"> </div>
		<div id="pop-up-box-search">
			<div id="pop-up-header-search">Please Submit your Recommendation</div>
			<div id="pop-up-body-search">
				<form action="" method="get" id="video-list">
					<div class="video-item"> Daily coronavirus deaths hit staggering milestone fdsfasdfjak sfdfasdfasdfasdfsdfsafsdafsdfsdfsdafdsafdsfa fsdfasdjklfjewlfwejfw;fa safsdjfklsdafsf efjsakflsaf;sd sdfjskdlf;asfsa jdafsdflasdfa
						<input type="submit" name="" value="Add">
					</div>
					<div class="video-item"> Daily coronavirus deaths hit staggering milestone fdsfasdfjak sfdfasdfasdfasdfsdfsafsdafsdfsdfsdafdsafdsfa fsdfasdjklfjewlfwejfw;fa safsdjfklsdafsf efjsakflsaf;sd sdfjskdlf;asfsa jdafsdflasdfa
						<input type="submit" name="" value="Add">
					</div>
					<div class="video-item"> Daily coronavirus deaths hit staggering milestone fdsfasdfjak sfdfasdfasdfasdfsdfsafsdafsdfsdfsdafdsafdsfa fsdfasdjklfjewlfwejfw;fa safsdjfklsdafsf efjsakflsaf;sd sdfjskdlf;asfsa jdafsdflasdfa
						<input type="submit" name="" value="Add">
					</div>

				</form>
			</div>
			<div id="pop-up-footer-search">
				<button onclick="popupCancelSearch()">Cancel</button>
			</div>
		</div>
	</div>

	<div id="top-right-container">
		<p id="rightheader">Message</p>
	</div>
	<div id="chat-message-list">
		<div class="your-message">
			<div class="message-person">Me</div>
			<div class="message-text">Yes</div>
			<div class="message-time">August 2</div>
		</div>
		<div class="other-message">
			<div class="message-person">James</div>
			<div class="message-text">Hello</div>
			<div class="message-time">August 2</div>
		</div>
	</div>

	<div id="bottom-right-container">
		<div id="chat">
			<input type="text" placeholder="Type a message">
		</div>
		<button class="votebutton" type="button">Vote</button>
		<button class="sendbutton" type="button">Send</button>

	</div>
</div>
<body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>
