<!DOCTYPE html>
<html>
<head>


    <title>Title</title>

    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- My JS Script -->
    <script type="text/javascript" src='js/app.js'></script>

</head>
<body>

<div id="container" class="container">

    <header>
        <h1>Network Algorithms</h1>
        <p><p>
    </header>

    <div id="song_selection" class="control">
        <h3>Algorithm</h3>
        <select id="song_select">
            <option value="call_me_al.json">Djikstra</option>
            <option value="sledgehammer_2_rounds.json">Flloyd Warshall</option>
            <option value="poker_face.json">Bellman-Ford</option>
        </select>

    </div>

    <div id="controls">
        <div id="node-number" class="control">
            <h4>Node Number</h4>
            <input class="form-control" type="number" value="42" id="numNodes">
        </div>
        <div id="layouts" class="control">
            <h4 id='start-sim'>Generate-Graph</h3>
                <button type = 'button' class = 'btn btn-danger btn-lg btn-block' id='reset-btn'>Make</button>
        </div>
        <div id="layouts" class="control">
            <h4 id='start-sim'>Start-Algorithm</h3>
                <button type = 'button' class = 'btn btn-success btn-lg btn-block' id='start-btn'>Run</button>
        </div>

    </div>
    <div>
        <h1>Thanks for submitting</h1>
        <p th:text="${message}" />
    </div>


</div> <!--! end of #container -->



<!-- JS, Popper.js, and jQuery for Boostrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>
</html>
