body{
	margin:0;
	padding:0;
	background: url(../Images/background.jpg);
	background-size:cover;
	background-position:center;
	font-family: sans-serif;
}

.signupform{
	width:400px;
	height:640px;
	background:#9D2235;
	color:#FFC72C;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.trojanhead{
	width: 100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top: -7%;
	left: calc(50% - 50px);
}

h1{
	margin:0;
	padding:0 0 20px;
	text-align:center;
	font-size:22px;

}

.signupform p{
	margin:0;
	padding:0;
	font-weight:bold;

}

.signupform input{
	width:100%;
	margin-bottom:20px;
}

.signupform input[type="text"], input[type="password"]{
	border=none;
	border-bottom: 1px solid #fff;
	background: #fff;
	outline:none;
	height:40px;
	font-size:16px;
}

.signupform input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#FFC72C;
	color:#000;
	font-size:18px;
	border-radius:20px;
}

.signupform a{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:#FFC72C;
}

.signupform a:hover { 
  color: #fff;
}