*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


html,body{
	height:100%;

}

html{
	font-family:sans-serif;
	background:#fff;
	font-size: 10px;
}

body{
	display:grid;
	place-items:center;
}

#general-container{
	display:grid;
	grid:
		'top-left-container title top-right-container'  71px
		'room-list video-container chat-message-list' 1fr
		'bottom-left-container vote-container bottom-right-container' 80px
		/ 275px 1fr 275px;
	min-width:1400px;
	max-width:3000px;
	max-height:3000px;
	height:100vh;
	background:#fff;
	border-radius:10px;
}

#top-lect-container,#top-right-container,#room-list,#bottom-left-container,#bottom-right-container{
	background:#9D2235;
}

#top-left-container{
	background:#8B0000;
	display:grid;
	align-items:center;
	padding-left:20px;
	grid-area:top-left-container;
	border-radius:10px 0 0 0;
	box-shadow:0 1px 3px -1px rgba(0,0,0,0.75);
	z-index:1;
}

#top-right-container{
	background:#8B0000;
	display:grid;
	align-items:center;
	padding: 0 20px;
	grid-area:top-right-container;
	border-radius:0 10px 0 0;
	box-shadow:0 1px 3px -1px rgba(0,0,0,0.75);
	z-index:1;
}
#leftheader{
	color: #FFC72C;
	outline:none;
	font-weight:bold;
	border-radius:2px;
	height:30px;
	border:0;
	padding-left:10px;
	padding-right:20px;
	font-size:3.4rem;
	background-position:15px center;
	background-size:20px 20px;
}

#rightheader{
	color:#FFC72C;
	outline:none;
	font-weight:bold;
	border-radius:2px;
	height:30px;
	border:0;
	padding-left:10px;
	padding-right:20px;
	font-size:3.4rem;
	background-position:15px center;
	background-size:20px 20px;
}

#room-list{
	grid-area:room-list;
	overflow-y:scroll;
	
}


.room,.bigbutton-container{
	display:grid;
	grid-template-columns: 40px 1fr max-content;
	grid-gap:10px;
	color:#ddd;
	font-size:1.3rem;
	border-bottom:1px solid #002C88;
	padding:20px 20px 20px 15px;
}

.room.active,
.room:hover{
	background:#8B0000;
}

.room>img{
	grid-row:span 2;
	height:40px;
	width:40px;
	border-radius:100%;
}

.enterbutton{
	border: none;
	padding:1px;
	border-radius:5px;
	background:#FFC72C;
  	text-align: center;
  	text-decoration: none;
  	font-size: 12px;
}

.bigbutton{
	border: none;
	padding:1px;
	border-radius:5px;
	background:#FFC72C;
  	text-align: center;
  	text-decoration: none;
  	font-size: 20px;
  	font-weight:bold;
  	color:#9D2235;
  	width:220px;
}
.seperation{
	font-weight:bold;
	color:#9D2235 ;
	font-size:20px;
	background:#FFC72C;
	padding-left: 20px;
	padding-top:2px;
}

#bottom-left-container{
	display:grid;
	grid:40px / 40px;
	align-content:center;
	grid-area:bottom-left-container;
	border-top:1px solid rgba(0,0,0,0.25);
	border-radius:0 0 0 10px;
	padding:0 25px;
}

#bottom-left-container a{
	display:grid;
	width:220px;
	place-content: center center;
	background:#FFC72C;
	border-radius:5px;
	color:#9D2235;
	text-decoration:none;
	font-size:30px;
	font-weight:bold;
}

.title-text{
	font-size:15px;
	font-weight:bold;
	color:#FFC72C;
	padding-left:5px;
	white-space:nowrap;
	overflow-x:hidden;
	text-overflow:ellipsis;
}

.conversation-message{
	grid-column:span 2;
	padding-left:5px;
	white-space:nowrap;
	overflow-x:hidden;
	text-overflow:ellipsis;
}



#title{
	background:#8B0000;
	display:grid;
	grid: 36px/1fr 36px;
	align-content:center;
	align-items:center;
	grid-area:title;
	color:#FFC72C;
	font-weight:bold;
	font-size:3.4rem;
	box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
	padding-left:20px;
}

#vote-container{
	display:grid;
	background:#9D2235;
	grid:40px / 40px;
	align-content:center;
	grid-area:vote-container;
	border-top:1px solid rgba(0,0,0,0.25);
	padding:0 25px;
}

#vote{
	display:grid;
	align-content:center;
	align-items:center;
	border-radius:0 0 10px 0;
	border-top:1px solid rgba(0,0,0,0.25);
	padding-top:40px;
	padding-left:2px;
	padding-right:2px;
	position:relative;
	bottom:5px;
}

#vote input{
	outline:none;
	padding:5px;
	height:50px;
	width:700px;
	border:2px solid #ddd;
	color:#330;
	border-radius:6px;
	font-size:1.4rem;
}

.searchbutton{
	width:50px;
	border: none;
	padding:1px;
	border-radius:5px;
	background:#FFC72C;
  	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
  	position:relative;
	left:750px;
	bottom:5px;
}

.addbutton{
	width:50px;
	border: none;
	padding:1px;
	border-radius:5px;
	background:#FFC72C;
  	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
  	position:relative;
	left:720px;
	bottom:40px;
}



#chat-message-list{
	grid-area:chat-message-list;
	background:#eee;
	display:flex;
	flex-direction:column-reverse;
	padding:0 10px;
}

.your-message,.other-message{
	display:grid;
	grid-template-columns: 70%;
	margin-bottom:20px;
	word-break:break-word;
}

.your-message{
	justify-content:end;
	justify-items:end;
	
}

.other-message{
	justify-items:start;
	
}

.message-text{
	padding:9px 14px;
	font-size:1.6rem;
	margin-top:5px;
	margin-bottom:3px;
}

.message-person,.message-time{
	font-size:1.3rem;
	color:#777;
}

.your-message .message-text{
	background:#9D2235;
	color:#FFC72C;
	border:1px solid #8B0000;
	border-radius:14px 14px 0 14px;
}

.other-message .message-text{
	background:#fff;
	color:#111;
	border:1px solid #ddd;
	border-radius:14px 14px 14px 0;
}


#bottom-right-container{
	display:grid;
	grid:40px / 40px;
	align-content:center;
	grid-area:bottom-right-container;
	border-top:1px solid rgba(0,0,0,0.25);
	border-radius:0 0 10px 0;
	padding:0 25px;
}

#chat{
	display:grid;
	align-content:center;
	align-items:center;
	position:relative;
	top:25px;
  	left:5px;
	bottom:5px;
}

#chat input{
	outline:none;
	padding:5px;
	height:50px;
	border:2px solid #ddd;
	color:#330;
	border-radius:6px;
	font-size:1.4rem;
}

.votebutton{
	border: none;
	padding:1px;
	border-radius:5px;
	background:#FFC72C;
  	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
  	position:relative;
  	left:190px;
	bottom:25px;
}

.sendbutton{
	border: none;
	padding:1px;
	border-radius:5px;
	background:#FFC72C;
  	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
  	position:relative;
  	left:190px;
	bottom:15px;

}


#pop-up-box-container-create,#pop-up-box-container-join,#pop-up-box-container-leave,
#pop-up-box-container-logout,#pop-up-box-container-search{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-color: #fefefe;
	opacity:0;
	z-index:9999;
}

#pop-up-box-create,#pop-up-box-join,#pop-up-box-leave,#pop-up-box-logout{
	display:none;
	position:fixed;
	width:300px;
	z-index:9999;
	border-radius:10px;
	background-color:#eee;
}

#pop-up-box-search{
	display:none;
	position:fixed;
	width:500px;
	z-index:9999;
	border-radius:10px;
	background-color:#eee;
}


#pop-up-header-create,#pop-up-header-join,#pop-up-header-leave,
#pop-up-header-logout,#pop-up-header-search{
	font-weight:bold;
	background-color:#9D2235;
	color:#FFC72C;
	font-size:20px;
	padding:10px;
	border-radius:10px 10px 0 0;
}

#pop-up-body-create,#pop-up-body-join,#pop-up-body-leave,
#pop-up-body-logout,#pop-up-body-search{
	font-size:14px;
	padding:10px;
	background-color:#eee;
}

#pop-up-body-join input{
	background:white;
	border:none;
	outline:none;
	height:30px;
	width:100%;
	font-size:18px;
}

#pop-up-body-search{
	height:350px;
	overflow-y:scroll;
}

#video-list{
	display:grid;
	font-size:18px;
	background:#fff;
	margin:5px;
	border-radius:10px;
}

.video-item{
	display:grid;
	grid-template-columns: 75%;
	word-break:break-word;
	padding-left:10px;
}

.video-item input{
	width:50px;
	border: none;
	padding:1px;
	border-radius:5px;
	background:#FFC72C;
  	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
  	position:relative;
	left:400px;
	bottom:10px;
}

#pop-up-footer-create,#pop-up-footer-join,#pop-up-footer-leave,
#pop-up-footer-logout,#pop-up-footer-search{
	background-color:#FFC72C;
	text-align:right;
	padding:10px;
	border-radius:0 0 10px 10px;
}

#pop-up-footer-create button,#pop-up-footer-join button,#pop-up-footer-leave button,
#pop-up-footer-logout button,#pop-up-footer-search button{
	background-color:#9D2235;
	color:#FFC72C;
	padding:5px;
	border: 0;
	border-radius:5px;
}

::-webkit-scrollbar{
	display:none;
}