*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html,body{
	height:100%;

}

html{
	font-family:sans-serif;
	background:#fff;
	font-size: 10px;
}

body{
	display:grid;
	place-items:center;
	margin:0;
	padding:0;
	background: url(background.jpg);
	background-size:cover;
	background-position:center;
	font-family: sans-serif;
}

.header{
	width: 220px;
	height:60px;
	background:none;
	position:absolute;
	top: 20px;
	left: 1300px;
}

.header a{
	font-size:30px;
	color:#8B0000;
	align-items: right;
	padding:10px;
}
.trojanhead{
	width: 100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top: -9%;
	left: calc(50% - 50px);
}

.signupform{
	width:400px;
	height:500px;
	background:#8B0000;
	color:#FFC72C;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

h1{
	margin:0;
	padding:0 0 20px;
	text-align:center;
	font-size:22px;

}
#top-left-container,#room-list{
	background:#9D2235;
}


#room-list{
	overflow-y:scroll;

}


.room{
	display:grid;
	grid-template-columns: 40px 1fr max-content;
	grid-gap:10px;
	color:#ddd;
	font-size:1.3rem;
	border-bottom:1px solid #002C88;
	padding:20px 20px 20px 15px;
}



.room.active,
.room:hover{
	background:#8B0000;
}

.room>img{
	grid-row:span 2;
	height:40px;
	width:40px;
	border-radius:100%;
}

.enterbutton{
	border: none;
	padding:1px;
	border-radius:5px;
	background:#FFC72C;
  	text-align: center;
  	text-decoration: none;
  	font-size: 12px;
}

.title-text{
	font-size:15px;
	font-weight:bold;
	color:#FFC72C;
	padding-left:5px;
	white-space:nowrap;
	overflow-x:hidden;
	text-overflow:ellipsis;
}

::-webkit-scrollbar{
	display:none;
}
